# Common build directories
build/
cmake-build*/

# IDEs
.idea/
.DS_Store
*.swp
*~

# JUCE/Build artifacts
**/Builds/
**/JuceLibraryCode/
**/*.vst
**/*.vst3
**/*.au
**/*.dylib

# Project specific
old/
